# Pivot_Table, apply(), where(), query() functions

In [9]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("Top 100 most Streamed - Sheet1.csv")

In [13]:
df.head()

,title,artist,top genre,year,beats.per.minute,energy,danceability,loudness.dB,liveness,valance,length,acousticness,speechiness,popularity
0,Blinding Lights,The Weeknd,canadian contemporary r&b,2020,171,73,51,-6,9,33,200,0,6,91
1,Watermelon Sugar,Harry Styles,pop,2019,95,82,55,-4,34,56,174,12,5,88
2,Mood (feat. iann dior),24kGoldn,cali rap,2021,91,72,70,-4,32,73,141,17,4,88
3,Someone You Loved,Lewis Capaldi,pop,2019,110,41,50,-6,11,45,182,75,3,86
4,Perfect,Ed Sheeran,pop,2017,95,45,60,-6,11,17,263,16,2,86

In [15]:
df.shape

(100, 14)

In [23]:
df.isnull().sum()

title               0
artist              0
top genre           0
year                0
beats.per.minute    0
energy              0
danceability        0
loudness.dB         0
liveness            0
valance             0
length              0
acousticness        0
speechiness         0
popularity          0
dtype: int64

In [25]:
df.columns

Index(['title', 'artist', 'top genre', 'year', 'beats.per.minute', 'energy',
       'danceability', 'loudness.dB', 'liveness', 'valance', 'length',
       'acousticness', 'speechiness', 'popularity'],
      dtype='object')

In [27]:
df['valance'].value_counts()

valance
45    5
33    3
42    3
64    3
43    3
22    3
49    3
75    3
73    3
24    2
51    2
65    2
34    2
84    2
48    2
86    2
56    2
29    2
32    2
59    2
41    2
55    2
50    2
67    2
93    2
60    2
44    2
66    2
20    2
47    2
17    2
70    1
27    1
79    1
28    1
46    1
58    1
6     1
35    1
61    1
80    1
72    1
15    1
88    1
90    1
12    1
39    1
14    1
18    1
16    1
68    1
36    1
85    1
40    1
13    1
52    1
91    1
74    1
Name: count, dtype: int64

# Pivot Table

#### 1) It quickly summarizes large amounts of data
#### 2) By default the aggregate function used is mean

##### syntax
pd.pivot_table(data,index,columns,values,aggfunc)

#### Q1) Using pivot_table create a dataframe displaying year wise mean of energy, length and popularity

In [32]:
pt1 = pd.pivot_table(df, index = ['year'], values = ['energy','length','popularity'])
pt1.head()

         energy      length  popularity
year
1975  40.000000  354.000000   81.000000
1995  90.000000  259.000000   77.000000
2004  91.000000  223.000000   81.000000
2008  46.000000  242.000000   80.000000
2012  80.333333  207.666667   79.333333

In [38]:
r1 = df[df['year']==2018]
feat_mean = r1[['energy','length','popularity']].mean()
feat_mean

energy         60.4
length        213.3
popularity     79.5
dtype: float64

#### Q2) Using pivot_table create a dataframe displaying year wise max of energy, length and popularity where year is column

In [48]:
pt2 = pd.pivot_table(df,columns = ['year'],
                     values = ['energy','length','popularity'],
                     aggfunc='max')
pt2.head(7)

year,1975,1995,2004,2008,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
energy,40,90,91,46,92,78,74,81,87,82,86,82,79,83
length,354,259,223,242,258,270,321,270,245,263,313,230,200,189
popularity,81,77,81,80,82,84,83,83,84,86,86,88,91,88

In [50]:
r2 = df[df['year']==2013]
r2[['energy','length','popularity']].max()

energy         78
length        270
popularity     84
dtype: int64

#### Q3) Using pivot_table create a dataframe displaying year wise max of energy, length and popularity where year is index

In [56]:
pt3 = pd.pivot_table(df,index = ['year'],
                     values = ['energy','length','popularity'],
                     aggfunc='max')
pt3.head(7)

      energy  length  popularity
year
1975      40     354          81
1995      90     259          77
2004      91     223          81
2008      46     242          80
2012      92     258          82
2013      78     270          84
2014      74     321          83

In [58]:
r3 = df[df['year']==2008]
r3[['energy','length','popularity']].max()

energy         46
length        242
popularity     80
dtype: int64

#### Q4) Using pivot_table create a dataframe displaying top genre wise min of energy, liveness length, popularity and danceability where top genre is  the index of the dataframe

In [66]:
pt4 = pd.pivot_table(df,index = ['top genre'],
                     values = ['energy','length','popularity','danceability'],
                     aggfunc='min')
pt4.head(7)

                  danceability  energy  length  popularity
top genre
acoustic pop                69      46     242          80
alternative rock            35      91     223          81
australian dance            63      70     212          75
australian pop              82      59     209          80
beatlesque                  38      90     259          77
boy band                    60      85     203          80
brostep                     69      79     214          82

In [70]:
r4 = df[df['top genre']== 'australian dance']
r4[['danceability','energy','length','popularity']].min()

danceability     63
energy           70
length          212
popularity       75
dtype: int64

#### Q5) Using pivot_table create a dataframe displaying year and top genre wise mean of energy, liveness length, popularity and danceability where top genre is the index of the dataframe

In [73]:
pt5 = pd.pivot_table(df,index = ['year','top genre'],
                     values = ['energy','liveness','length','popularity','danceability'])
pt5.head(20)

                                danceability  energy  length  liveness  \
year top genre
1975 classic rock                      41.00   40.00   354.0     30.00
1995 beatlesque                        38.00   90.00   259.0     19.00
2004 alternative rock                  35.00   91.00   223.0     10.00
2008 acoustic pop                      69.00   46.00   242.0     11.00
2012 modern rock                       48.00   74.50   182.5     47.00
     pop rap                           64.00   92.00   258.0      9.00
2013 dance pop                         59.50   74.50   252.0     14.00
     folk-pop                          45.00   54.00   253.0     11.00
     neo soul                          42.00   26.00   270.0     13.00
2014 dance pop                         42.00   42.00   173.0     11.00
     detroit hip hop                   69.00   74.00   321.0     37.00
     folk-pop                          48.00   73.00   204.0     15.00
     irish singer-songwriter           57.00   66.00   242.0     12.00
     pop                               69.50   41.50   270.5     14.00
2015 canadian contemporary r&b         65.00   66.50   228.0     12.50
     canadian pop                      71.50   61.50   212.0     17.75
     dance pop                         76.25   64.75   214.5     20.25
     electro house                     59.00   65.00   213.0     11.00
     modern rock                       73.00   64.00   202.0      6.00
     pop                               75.00   79.00   235.0      9.00

                                popularity
year top genre
1975 classic rock                    81.00
1995 beatlesque                      77.00
2004 alternative rock                81.00
2008 acoustic pop                    80.00
2012 modern rock                     78.00
     pop rap                         82.00
2013 dance pop                       83.00
     folk-pop                        72.00
     neo soul                        84.00
2014 dance pop                       81.00
     detroit hip hop                 70.00
     folk-pop                        80.00
     irish singer-songwriter         82.00
     pop                             82.50
2015 canadian contemporary r&b       81.00
     canadian pop                    78.75
     dance pop                       77.00
     electro house                   72.00
     modern rock                     83.00
     pop                             66.00

In [75]:
pt5.tail(15)

                                danceability     energy  length   liveness  \
year top genre
2019 australian pop                82.000000  59.000000   209.0  15.000000
     canadian pop                  76.000000  54.000000   191.0   9.000000
     dance pop                     74.666667  49.333333   205.0  12.333333
     dfw rap                       70.000000  76.000000   215.0   9.000000
     electropop                    53.500000  27.000000   195.0   9.500000
     latin                         65.500000  80.000000   229.5   7.000000
     lgbtq+ hip hop                88.000000  62.000000   157.0  11.000000
     melodic rap                   83.500000  65.500000   187.0  57.000000
     pop                           61.666667  63.666667   192.0  18.000000
2020 canadian contemporary r&b     51.000000  73.000000   200.0   9.000000
     dance pop                     79.000000  79.000000   183.0  10.000000
     north carolina hip hop        75.000000  69.000000   182.0  10.000000
2021 cali rap                      70.000000  72.000000   141.0  32.000000
     pop                           78.000000  33.000000   189.0   8.000000
     pop dance                     66.000000  83.000000   172.0  40.000000

                                popularity
year top genre
2019 australian pop              80.000000
     canadian pop                81.000000
     dance pop                   77.666667
     dfw rap                     86.000000
     electropop                  82.500000
     latin                       74.000000
     lgbtq+ hip hop              80.000000
     melodic rap                 83.000000
     pop                         84.666667
2020 canadian contemporary r&b   91.000000
     dance pop                   81.000000
     north carolina hip hop      84.000000
2021 cali rap                    88.000000
     pop                         85.000000
     pop dance                   66.000000

In [81]:
pt6 = pd.pivot_table(df,columns = ['year','top genre'],
                     values = ['energy','liveness','length','popularity','danceability'])
pt6.head(20)

year                 1975       1995             2004         2008  \
top genre    classic rock beatlesque alternative rock acoustic pop
danceability         41.0       38.0             35.0         69.0
energy               40.0       90.0             91.0         46.0
length              354.0      259.0            223.0        242.0
liveness             30.0       19.0             10.0         11.0
popularity           81.0       77.0             81.0         80.0

year                2012              2013                        2014  ...  \
top genre    modern rock pop rap dance pop folk-pop neo soul dance pop  ...
danceability        48.0    64.0      59.5     45.0     42.0      42.0  ...
energy              74.5    92.0      74.5     54.0     26.0      42.0  ...
length             182.5   258.0     252.0    253.0    270.0     173.0  ...
liveness            47.0     9.0      14.0     11.0     13.0      11.0  ...
popularity          78.0    82.0      83.0     72.0     84.0      81.0  ...

year           2019                                         \
top genre     latin lgbtq+ hip hop melodic rap         pop
danceability   65.5           88.0        83.5   61.666667
energy         80.0           62.0        65.5   63.666667
length        229.5          157.0       187.0  192.000000
liveness        7.0           11.0        57.0   18.000000
popularity     74.0           80.0        83.0   84.666667

year                              2020                                   \
top genre    canadian contemporary r&b dance pop north carolina hip hop
danceability                      51.0      79.0                   75.0
energy                            73.0      79.0                   69.0
length                           200.0     183.0                  182.0
liveness                           9.0      10.0                   10.0
popularity                        91.0      81.0                   84.0

year             2021
top genre    cali rap    pop pop dance
danceability     70.0   78.0      66.0
energy           72.0   33.0      83.0
length          141.0  189.0     172.0
liveness         32.0    8.0      40.0
popularity       88.0   85.0      66.0

[5 rows x 62 columns]

In [85]:
pt7 = pd.pivot_table(df,index = ['year'],columns=['top genre'],
                     values = ['popularity'])
pt7.head(20)

            popularity                                                   \
top genre acoustic pop alternative rock australian dance australian pop
year
1975               NaN              NaN              NaN            NaN
1995               NaN              NaN              NaN            NaN
2004               NaN             81.0              NaN            NaN
2008              80.0              NaN              NaN            NaN
2012               NaN              NaN              NaN            NaN
2013               NaN              NaN              NaN            NaN
2014               NaN              NaN              NaN            NaN
2015               NaN              NaN              NaN            NaN
2016               NaN              NaN             75.0            NaN
2017               NaN              NaN              NaN            NaN
2018               NaN              NaN              NaN            NaN
2019               NaN              NaN              NaN           80.0
2020               NaN              NaN              NaN            NaN
2021               NaN              NaN              NaN            NaN

                                                                          \
top genre beatlesque boy band brostep cali rap canadian contemporary r&b
year
1975             NaN      NaN     NaN      NaN                       NaN
1995            77.0      NaN     NaN      NaN                       NaN
2004             NaN      NaN     NaN      NaN                       NaN
2008             NaN      NaN     NaN      NaN                       NaN
2012             NaN      NaN     NaN      NaN                       NaN
2013             NaN      NaN     NaN      NaN                       NaN
2014             NaN      NaN     NaN      NaN                       NaN
2015             NaN      NaN     NaN      NaN                      81.0
2016             NaN      NaN     NaN      NaN                      82.0
2017             NaN      NaN     NaN      NaN                       NaN
2018             NaN     80.0    82.0      NaN                       NaN
2019             NaN      NaN     NaN      NaN                       NaN
2020             NaN      NaN     NaN      NaN                      91.0
2021             NaN      NaN     NaN     88.0                       NaN

                            ...                                               \
top genre canadian hip hop  ... latin lgbtq+ hip hop melodic rap modern rock
year                        ...
1975                   NaN  ...   NaN            NaN         NaN         NaN
1995                   NaN  ...   NaN            NaN         NaN         NaN
2004                   NaN  ...   NaN            NaN         NaN         NaN
2008                   NaN  ...   NaN            NaN         NaN         NaN
2012                   NaN  ...   NaN            NaN         NaN        78.0
2013                   NaN  ...   NaN            NaN         NaN         NaN
2014                   NaN  ...   NaN            NaN         NaN         NaN
2015                   NaN  ...   NaN            NaN         NaN        83.0
2016                  66.0  ...   NaN            NaN         NaN        80.0
2017                   NaN  ...   NaN            NaN        82.0        84.0
2018                  81.0  ...   NaN            NaN         NaN         NaN
2019                   NaN  ...  74.0           80.0        83.0         NaN
2020                   NaN  ...   NaN            NaN         NaN         NaN
2021                   NaN  ...   NaN            NaN         NaN         NaN


top genre neo soul north carolina hip hop        pop pop dance pop rap   rap
year
1975           NaN                    NaN        NaN       NaN     NaN   NaN
1995           NaN                    NaN        NaN       NaN     NaN   NaN
2004           NaN                    NaN        NaN       NaN     NaN   NaN
2008           NaN                    NaN        NaN       NaN     NaN   NaN
2012           NaN                    NaN        NaN       NaN    82.0   NaN
2013          84.0                    NaN        NaN       NaN     NaN   NaN
2014           NaN                    NaN  82.500000       NaN     NaN   NaN
2015           NaN                    NaN  66.000000       NaN     NaN   NaN
2016           NaN                    NaN  84.000000       NaN     NaN  84.0
2017           NaN                    NaN  85.500000       NaN     NaN   NaN
2018           NaN                    NaN  74.000000       NaN     NaN  83.0
2019           NaN                    NaN  84.666667       NaN     NaN   NaN
2020           NaN                   84.0        NaN       NaN     NaN   NaN
2021           NaN                    NaN  85.000000      66.0     NaN   NaN

[14 rows x 34 columns]

# apply()

1) It is used to apply a function to a series or a dataframe<br>
2) It works on the entire dataframe or series.

In [92]:
df.head(3)

,title,artist,top genre,year,beats.per.minute,energy,danceability,loudness.dB,liveness,valance,length,acousticness,speechiness,popularity
0,Blinding Lights,The Weeknd,canadian contemporary r&b,2020,171,73,51,-6,9,33,200,0,6,91
1,Watermelon Sugar,Harry Styles,pop,2019,95,82,55,-4,34,56,174,12,5,88
2,Mood (feat. iann dior),24kGoldn,cali rap,2021,91,72,70,-4,32,73,141,17,4,88

In [95]:
df[['energy','liveness','danceability']].apply(np.max)

energy          92
liveness        79
danceability    91
dtype: int64

In [97]:
max_en= df['energy'].max()
max_live = df['liveness'].max()
max_dance = df['danceability'].max()
print(max_en)
print(max_live)
print(max_dance)

92
79
91

In [99]:
df[['energy','liveness','danceability','popularity']].apply(np.min)

energy          11
liveness         3
danceability    35
popularity      53
dtype: int64

In [101]:
df['popularity'].describe()

count    100.000000
mean      79.670000
std        5.905065
min       53.000000
25%       79.000000
50%       81.000000
75%       83.000000
max       91.000000
Name: popularity, dtype: float64

### Apply function on a series

#### Q1) Create a column named popularity bin. Generate the column values based on the following rules
a) It popularity <74, return low<br>
b) If popularity >=74 and popularity <=83, return medium<br>
c) If popularity >=83, return high

In [111]:
def pop_bins(x):
    if x<74:
        return 'Low'
    elif x>=74 and x<83:
        return 'Medium'
    else:
        return 'High'

In [109]:
df['Popularity_bins'] = df['popularity'].apply(pop_bins)
df[['popularity','Popularity_bins']].sample(10)

    popularity Popularity_bins
8           85            High
43          81          Medium
53          81          Medium
90          72             Low
78          78          Medium
48          81          Medium
5           86            High
44          81          Medium
19          84            High
71          79          Medium

In [113]:
df[['popularity','Popularity_bins']][df['popularity']<74]

    popularity Popularity_bins
88          72             Low
89          72             Low
90          72             Low
91          71             Low
92          70             Low
93          70             Low
94          67             Low
95          66             Low
96          66             Low
97          66             Low
98          56             Low
99          53             Low

In [115]:
df.head(7)

,title,artist,top genre,year,beats.per.minute,energy,danceability,loudness.dB,liveness,valance,length,acousticness,speechiness,popularity,Popularity_bins
0,Blinding Lights,The Weeknd,canadian contemporary r&b,2020,171,73,51,-6,9,33,200,0,6,91,High
1,Watermelon Sugar,Harry Styles,pop,2019,95,82,55,-4,34,56,174,12,5,88,High
2,Mood (feat. iann dior),24kGoldn,cali rap,2021,91,72,70,-4,32,73,141,17,4,88,High
3,Someone You Loved,Lewis Capaldi,pop,2019,110,41,50,-6,11,45,182,75,3,86,High
4,Perfect,Ed Sheeran,pop,2017,95,45,60,-6,11,17,263,16,2,86,High
5,Believer,Imagine Dragons,modern rock,2017,125,78,78,-4,8,67,204,6,13,86,High
6,lovely (with Khalid),Billie Eilish,electropop,2018,115,30,35,-10,10,12,200,93,3,86,High

In [121]:
df.sample()

,title,artist,top genre,year,beats.per.minute,energy,danceability,loudness.dB,liveness,valance,length,acousticness,speechiness,popularity,Popularity_bins
64,Heathens,Twenty One Pilots,modern rock,2016,90,40,73,-9,11,55,196,8,3,80,Medium

In [119]:
df1 = df.copy()

In [123]:
df.shape

(100, 15)

In [125]:
df['Popularity_bins']

0     High
1     High
2     High
3     High
4     High
      ...
95     Low
96     Low
97     Low
98     Low
99     Low
Name: Popularity_bins, Length: 100, dtype: object

# where()

It replace values where the condition is False

#### Syntax
df.where(condition, other)

where condition id True, keep the original value. Where False, replace with corresponding value from other.

In [129]:
df[df['year']==2018].shape

(20, 15)

In [132]:
df['Popularity_bins'].value_counts()

Popularity_bins
Medium    59
High      28
Low       13
Name: count, dtype: int64

In [140]:
# Replace the 
res = df['Popularity_bins'].where(df['Popularity_bins']!= 'Medium',"Med")
res

0     High
1     High
2     High
3     High
4     High
      ...
95     Low
96     Low
97     Low
98     Low
99     Low
Name: Popularity_bins, Length: 100, dtype: object

In [144]:
print(res[:50])

0     High
1     High
2     High
3     High
4     High
5     High
6     High
7     High
8     High
9     High
10    High
11    High
12    High
13    High
14    High
15    High
16    High
17    High
18    High
19    High
20    High
21    High
22    High
23    High
24    High
25    High
26    High
27    High
28     Med
29     Med
30     Med
31     Med
32     Med
33     Med
34     Med
35     Med
36     Med
37     Med
38     Med
39     Med
40     Med
41     Med
42     Med
43     Med
44     Med
45     Med
46     Med
47     Med
48     Med
49     Med
Name: Popularity_bins, dtype: object

In [146]:
df['energy'].mean()

Popularity_bins
Medium    59
High      28
Low       13
Name: count, dtype: int64

In [152]:
df['energy'].head()

0    73
1    82
2    72
3    41
4    45
Name: energy, dtype: int64

In [148]:
# Replace the energy value with high where energy is greater than mean energy
res2 = df['energy'].where(df['energy']<df['energy'].mean(),'High')
res2

0     High
1     High
2     High
3       41
4       45
      ...
95      61
96    High
97    High
98    High
99    High
Name: energy, Length: 100, dtype: object